doctype html
html(lang='RU')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Portfolio
    //bower:css
    //endbower

    //- inject:css
    link(rel="stylesheet", href="/app/.tmp/css/main.css")
    //- endinject
  body
    h1  Hell
    //- bower:js
    //- endbower

    //- inject:js
    script(src="/app/assets/js/main.js")
    //- endinject